*{
    margin: 0;
    padding: 0;
}
div.container{
    align-items: center;
    justify-content: center;
}
div.featured{
    display: flex;
    gap: 10vh;
    margin: 2vh;
}
div.best-sellers{
    display: flex;
    gap: 10vh;
    margin: 2vh;
}
.Button1{
    color: black;
    padding: 1rem;
    height:4vh;
    text-align: center;
}